.header {
  background-color: #a4c991;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-bar {
  display: left;
  gap: 100px;
}

.right-side {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}